{% extends 'modulo/base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="registro-container">
    <h2 class="cregistro">Crear una cuenta</h2>
    <form method="post" class="form-registro">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="boton-registrar">Registrarse</button>
    </form>
    <p class="texto-volver">
        ¿Ya tienes una cuenta?
        <a href="{% url 'login' %}" class="boton-volver">Volver</a>
    </p>
    
</div>
{% endblock %}